/* Bold, italic */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.eot');
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.ttf') format('truetype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.eot');
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Normal weight, italic */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.eot');
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.woff') format('woff'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.ttf') format('truetype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Normal weight */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.eot');
    src: url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.woff2') format('woff2'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.woff') format('woff'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.ttf') format('truetype'),
        url('https://millyschmidt.me/futureskillstheme/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

p, ul, ol {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-weight: italic;
}
