/* Set up some nice names for colours. */
:root {
  --lightyellow: #fdf1bf;
  --lightgreen: #bff6ec;
  --lightblue: #bfe9ff;
  --lightpurple: #f1d8f1;
  --lightred: #ffdfe5;
}

/* We made some boxes with variants. Each one has a title and image. */
.salesforce-box {
  border-radius: 5px;
  padding: 10px;
  margin: 50px 0;
}

.salesforce-box::before {
  background-repeat: no-repeat;
  padding-left: 25px;
  font-weight: bold;
}

.salesforce-box p {
  margin-bottom: 0!important;
  font-size: 1em!important;
  padding-left: 3px;
}


.sf-clickpath {
  background-color: var(--lightyellow);
}

.sf-clickpath::before {
  content: "CLICK PATH";
  background-image: url('mousepointer.svg');
}

.sf-note {
  background-color: var(--lightgreen);
}

.sf-note::before {
  content: "NOTE";
  background-image: url('notebook.svg');
}

.sf-alert {
  background-color: var(--lightred);
}

.sf-alert::before {
  content: "ALERT";
  background-image: url('exclamationmark.svg');
}

.sf-definition {
  background-color: var(--lightblue);
}

.sf-definition::before {
  content: "DEFINITION";
  background-image: url('questionmark.svg');
}
