.power-heading {
    position: relative;
    overflow: hidden;
  }

  .power-heading #background-tint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
  }

  #power-heading-1.power-heading h2 {
    position: absolute;
    top: 25%;
    left: 6%;
  }

  .power-heading h2:before {
    content: "\2014\A";
    white-space: pre-line;
  }

  .xmodule_display.xmodule_HtmlModule #power-heading-1.power-heading h2 {
      color: #FFF!important;
      font-size: 2em!important;
  }

  .power-heading .rmit-shape {
    position: absolute;
  }

  #power-heading-1.power-heading #rmit-shape-1 {
    top: 0;
    left: 0;
    width: 18%;
  }

  #power-heading-1.power-heading #rmit-shape-2 {
    bottom: 0;
    right: 0;
    width: 24%;
  }