.link-thumbnail {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #link-thumbnail-1 {
    background-image: url("/static/rich_external_link_thumbnail.png");
  }

  #link-thumbnail-2 {
    background-image: url("/static/rich_external_link_thumbnail.png");
  }

  #link-thumbnail-3 {
    background-image: url("/static/rich_external_link_thumbnail.png");
  }

  .icon-container .svg-icon {
    margin-top: 1em!important;
}