.title-card {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
  }

  .rmit-shape {
    position: absolute;
  }

  .title-card h2:before {
    content: "\2014\A";
    white-space: pre-line;
  }

  .xmodule_display.xmodule_HtmlModule #title-card-1 h2 {
    font-size: 2em !important;
    position: absolute;
    top: 4%;
    left: 4%;
  }

  #title-card-1 .rmit-shape {
    bottom: 0;
    right: 0;
    width: 36%;
  }


  .xmodule_display.xmodule_HtmlModule #title-card-2 h2 {
    color: #FFF!important;
    font-size: 2em !important;
    position: absolute;
    top: 4%;
    left: 4%;
  }

  #title-card-2 .rmit-shape {
    bottom: -72px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60%;
    transform: rotate(-270deg);
  }


  .xmodule_display.xmodule_HtmlModule #title-card-3 h2 {
    font-size: 2em !important;
    position: absolute;
    top: 4%;
    left: 4%;
  }

  #title-card-3 .rmit-shape {
    bottom: 0;
    right: 0;
    width: 36%;
  }